.footer-arrowUp {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    /* flex-basis: 10%; */
    /* padding: 2vh 5vw 3vh 1vw; */
    font-size: var(--arrowUpSize);
    color: var(--arrowUpColor);
    background-color: var(--arrowBackgroudColor);
    border-radius: 50%;
    cursor: pointer;
    opacity: var(--arrowUpOpacity);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
    border: 2px solid var(--arrowBackgroudColor);
    z-index: 1001;
    animation: arrowUpAnim 0.5s forwards;
}


@keyframes arrowUpAnim {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: var(--arrowUpOpacity);
    }
}

/* 
@keyframes arrowUpAnim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
} */