.themeSwitch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.15);
    min-width: calc(var(--topBarHeight) * 1.6);
    /* min-height: calc(var(--topBarHeight) / 1.2); */
    border-radius: 25px;
}

.themeSwitch svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    font-size: 80%;
}

.switch {
    position: relative;
    width: calc(var(--topBarHeight) / 1.4);
    height: calc(var(--topBarHeight) / 1.4);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.4);
    transition: 0.5s;
    cursor: pointer;
}

.switch:hover {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 0px 2px rgba(255, 255, 255, 0.2);
}

.switchLight {
    transform: translate(-50%);
}

.switchDark {
    transform: translate(50%);
}