.app {
  position: relative;
  background-color: var(--appPageBackgroundColor);
  font-size: var(--appFontSize);
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.active {
  display: block !important;
}

.inactive {
  display: hidden !important;
}

.stick {
  /* Nav */
  --navHeight: 3vh;
  --navFontSize: 1.55vh;
  box-shadow: 0 2px 10px 1px black;

  /* Nav Icon */
  --navIconSize: 1.8vh;
}