.app {
  position: relative;
  background-color: var(--appPageBackgroundColor);
  font-size: var(--appFontSize);
  max-width: var(--maxWidth);
  margin: 0 auto;
}

.active {
  display: block !important;
}

.inactive {
  display: hidden !important;
}