nav {
    min-height: var(--navHeight);
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-li {
    flex-basis: 18%;
    background-color: black;
}

.nav-link {
    display: flex;
    flex-direction: column;
    gap: 1.2vh;
    padding: 1vh 0;
    text-align: center;
    /* line-height: var(--navHeight); */
    color: white;
    text-decoration: none;
    font-size: 2vh;
    text-transform: uppercase;
}

.nav-li svg {
    color: white;
    font-size: 2.4vh;
}

.nav-text {
    flex-basis: 50%;
}

.nav-link:hover {
    background-color: #333;
}