nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    min-height: var(--navHeight);
    z-index: 100;
    background-color: var(--navBackgroundColor);
    transition: 0.3s;
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.4);
    font-weight: 500;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-li {
    flex-basis: calc(100% / var(--navButtonNumber));
}

.nav-link {
    display: flex;
    flex-direction: column;
    /* gap: 1.2vh; */
    /* padding: 1vh 2vw; */
    text-align: center;
    background-color: var(--navButtonBackgroundColor);
    color: var(--navTextColor);
    text-decoration: none;
    font-size: var(--navFontSize);
    text-transform: uppercase;
    border-radius: var(--navButtonRadius);
}

.nav-li svg {
    color: var(--navIconColor);
    font-size: var(--navIconSize);
}

.nav-text {
    flex-basis: 50%;
}


.nav-link:hover {
    background-color: rgba(255, 255, 255, .15) !important;
}

.nav-link:focus,
.nav-link:active {
    background-color: rgba(255, 255, 255, .20);
}

.first-link {
    background-color: var(--navFirstButtonBackgroundColor) !important;
}

.first-link:hover {
    background-color: var(--navFirstButtonBackgroundColorHover) !important;
}

.first-link:focus,
.first-link:active {
    background-color: var(--navFirstButtonBackgroundColorFocus) !important;
}


.link-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh 1vw;
    /* overflow: hidden; */
}

/* .link-wrap:hover {
    animation: zoomNav 0.2s 0.1s linear forwards;
}

@keyframes zoomNav {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(0.95);
    }

    75% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
} */