.start-page,
.navLink,
.no-page,
.contact {
    padding: 1.75vh 5vw;
    text-align: justify;
}

.page-title {
    /* text-align: right; */
    padding: 0 1vh 1vh 1vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
    margin-bottom: 2vh;
    letter-spacing: 0.8px;
    color: #444;
}

.page-title svg {
    padding: 0 1vh 0 0;
    color: #222;
}

.page-text {
    line-height: 130%;
}

.page-text::first-letter {
    padding-left: 20px;
}