:root {
    --footerHeight: 5vh;
    --navHeight: 5vh;
    --headTextAndLogo: 10vh;
    --headerHeight: calc(var(--navHeight) + var(--headTextAndLogo));
    --mainHeight: 0;
    --arrowUpOpacity: 0;
}