:root {
    /* Body */
    --bodyBackgroundColor: #f0f0f0;

    /* App */
    --appPageBackgroundColor: #fff;
    --appFontColor: #222;
    --appFontSize: 2vh;
    --maxWidth: 1280px;

    /* Top-Bar */
    --topBarHeight: 3vh;
    --topBarBackgroundColor: rgb(105, 0, 21);
    --topBarColor: rgb(252, 185, 199);
    --topBarFontSize: 1.7vh;

    /* Header */
    --headerBackgroundColor: black;
    --TextAndLogoBackgroundColor: black;
    --headerTextAndLogo: 15vh;
    --headerTextColor: #eee;
    --headerHeight: calc(var(--headTextAndLogo) + var(--topBarHeight));

    /* Nav */
    --navButtonNumber: 6;
    --navHeight: 5vh;
    --navBackgroundColor: black;
    --navTextColor: white;
    --navFontSize: 1.65vh;
    --navFontSizeSticky: 1vh;
    --navFirstButtonBackgroundColor: rgb(220, 20, 60);
    --navFirstButtonBackgroundColorHover: rgb(177, 10, 43);
    --navFirstButtonBackgroundColorFocus: rgb(143, 0, 29);
    --navButtonBackgroundColor: #111;
    --navButtonRadius: 0;

    /* Nav Icon */
    --navIconSize: 2.4vh;
    --navIconColor: white;

    /* Main */
    --mainHeight: 0;

    /* Footer */
    --footerHeight: 4vh;
    --arrowUpSize: 7vh;
    --arrowUpColor: rgb(220, 20, 60);
    --arrowBackgroudColor: white;
    --arrowUpOpacity: 75%;
}