.app-topBar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5vh;
    padding: 0.2vh 0.8vh;
    background-color: var(--topBarBackgroundColor);
    color: var(--topBarColor);
    min-width: 100%;
    min-height: var(--topBarHeight);
    font-size: var(--topBarFontSize);
    letter-spacing: 0.8px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    z-index: 1;
}


.topBar-text {
    flex-grow: 1;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}

.topBar-date-time {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    font-weight: 400;
}