.app-topBar {
    display: flex;
    justify-content: flex-end;
    background-color: var(--topBarBackgroundColor);
    color: var(--topBarColor);
    min-width: 100%;
    min-height: var(--topBarHeight);
    font-size: var(--topBarFontSize);
    letter-spacing: 0.8px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.app-topBar p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 20%;
    padding: 0.5vh 3vw;
}

.topBar-text {
    text-align: left;
    font-weight: 700;
    flex-grow: 2;
    text-transform: uppercase;
}

.topBar-date-time {
    font-weight: 400;
    flex-grow: 1;
}

.app-topBar span {
    display: block;
    flex-basis: 100%;
}