/* Slideshow */

.slideshow {
    position: relative;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    color: black;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 1000ms;
}

.slideshow-Arrow {
    -webkit-backdrop-filter: var(--slidershowArrowFilter);
    backdrop-filter: var(--slidershowArrowFilter);
    display: none;
    position: absolute;
    top: calc((var(--slideshowHeight) - (var(--arrowButtonHeight) + var(--dotSlideshowHeight))) / 2);
    width: var(--arrowLeftSlideSize);
    height: var(--arrowButtonHeight);
    background-color: var(--slidershowArrowBackgroundColor);
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
    z-index: 100;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    ;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    ;
    cursor: pointer;
    padding: 0.5vh;
}

.slideshow-Arrow:hover {
    background-color: var(--slidershowArrowBackgroundColorHover);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
}

.slideshow-Arrow svg {
    display: block;
    width: 100%;
    height: 100%;
    font-size: var(--arrowLeftSlideSize);
    color: var(--slidershowArrowColorSVG);
}

.slideshow-Arrow svg:hover {
    color: var(--slidershowArrowColorHoverSVG);
}

.Left {
    left: 0;
    text-align: right;
    /* padding: 0 0.3vh 0 0.3vh; */
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0 5px 5px 0;
}

.Right {
    text-align: left;
    right: 0;
    /* padding: 0 0.3vh 0 0.3vh; */
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px 0 0 5px;
}


.slide {
    display: inline-block;
    height: var(--slideshowHeight);
    width: 100%;
    background-size: cover;
    background-position: center;
}

.slide-content {
    -webkit-backdrop-filter: var(--slidershowFilter);
    backdrop-filter: var(--slidershowFilter);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    height: 100%;
    text-align: center;
    background-color: var(--slidershowTextBackground);
    color: var(--slidershowColor);
    font-weight: 700;
    text-shadow: 0 0 3px black, 0 0 3px white, 0 0 20px black;
    /* background-color: red; */
    overflow: hidden;
    padding: 0 0 var(--dotSlideshowHeight) 0;
}

.slide-content-text,
.slide-content-title {
    white-space: normal !important;
}

.slide-content-title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-basis: 50%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    font-size: 3.3vh;
    /* background-color: lime !important; */
    text-shadow: 0 0 3px black, 0 0 10px rgba(255, 255, 255, 0.5);
    max-width: 85%;
    overflow: hidden;
}

.slide-content::after {
    content: '';
    display: block;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -200%);
    width: 85%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.50);
    border-radius: 25px;
}

.slide-content-text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-basis: 50%;
    max-width: 85%;
    letter-spacing: 0.6px;
    line-height: 125%;
    font-size: 1.9vh;
    text-transform: lowercase;
    text-shadow: 0 0 3px black, 0 0 20px rgba(255, 255, 255, 0.5);
    text-align: center;
    overflow: hidden;
}

.slide-content-text span::first-letter {
    text-transform: capitalize;
}

/* Buttons */

.slideshowDots {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 0;
    right: 50%;
    transform: translate(50%, 2px);
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px 5px 0 0;
    width: auto;
    padding: 1.2vh 2vh 1vh 2vh;
    height: var(--dotSlideshowHeight);
    background-color: var(--slidershowArrowBackgroundColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 101;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.slideshowDot {
    display: inline-block;
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 15px 0 0px;
    background-color: var(--slideshowDotColor);
}

.slideshowDot:nth-last-child(1) {
    margin: 0;
}

.slideshowDot.active {
    background-color: var(--slideshowDotColorActive);
    box-shadow: 0 0 5px rgba(143, 0, 29, 0.6);
    animation: dotAmin 0.5s forwards;
}

@media (min-width:1024px) {
    .slideshow-Arrow {
        display: block;
    }
}

@keyframes dotAmin {
    0% {
        transform: scale(0.5);
    }

    70% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}